{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
    Shopping Cart
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
        {% if all_items %}
            <h2>Your Shopping Cart</h2>   
                <table class="table table-striped table-hover">
                    <thead style="background-color: #5AC8FA">
                        <tr>
                            <th>Image</th>
                            <th>Food</th>
                            <th>Quantity</th>
                            <th>Remove</th>
                            <th>Unit Price</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in all_items %}
                        <tr>
                            <td>
                                <a href="{% url 'shop:food_detail' item.food.id %}">
                                    <img src="{% if item.food.image %} {{ item.food.image.url }} {% else %} {% static 'img/default.png' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                                </a>
                            </td>
                            <td>{{ item.food.name }}</td>
                            <td>
                                <form action="{% url 'cart:update_quantity' item.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="number" value ="{{item.quantity}}" name="new_quantity">
                                    <input type="submit" value="Update" class="btn btn-primary">
                                </form>
                            </td>
                            <td>
                                <a href="{% url 'cart:remove_item_from_cart' item.food.id %}">Remove</a>
                            </td>
                            <td>{{ item.food.price }} VND</td>
                            <td>{{ item.get_price }} VND</td>
                        </tr>
                    {% endfor %}
                    <tr style="background-color: #5AC8FA">
                        <td><b>Total</b></td>
                        <td colspan="4"></td>
                        <td colspan="num"><b> {{cart.get_total_cost}} VND</b></td>
                    </tr>
                    </tbody>
                </table>
            <p class="text-right">
                <a href="{% url 'shop:food_list' %}" class="btn btn-default">Continue Shopping</a>
                <a href="{% url 'order:checkout' %}" class="btn btn-primary">Checkout</a>
            </p>
            </div>   
        {% else %}
            <h2>Your cart is empty</h2>   
            <p class="text-left">
                <a href="{% url 'shop:food_list' %}" class="btn btn-default">Back to Menu page</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
