{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
    Menu {% if category %} - {{ category.name }} {% endif %}
{% endblock %}

{% block content %}
   <div class="container-fluid">
      <div class="row" style="margin-top: 6%">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
              <div class="row">
                  {% for food in foods %}
                      <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="{% url 'shop:food_detail' food.id %}">
                                <img src="{% if food.image %} {{ food.image.url }} {% else %} {% static 'img/default.png' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                            </a>
                            <div class="caption">
                                <h3 class="text-center">
                                    <a href="{% url 'shop:food_detail' food.id %}">{{ food.name }}</a>
                                </h3>
                                <p>Price: {{ food.price }} VND</p>
                                <p>Vendor: {{ food.vendor }} </p>
                                <p>Category: <a href="{% url 'shop:food_list_by_category' food.category.id %}">{{ food.category }}</a></p>
                                <p>Description: {{ food.description }} </p>
                            </div>
                        </div>
                      </div>
                  {% endfor %}
              </div>


          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
              <li><a href="{% url 'shop:food_list'%}">All</a></li>
            {% for cat in categories %}
              <li>
                  <a href="{% url 'shop:food_list_by_category' cat.id %}">{{ cat.name }}</a>
              </li>
            {% endfor %}
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
{% endblock %}